*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #266dd7;
}

h1{
    font-size: 2rem;
    color: #333;
}
p{
    font-size: 1rem;
    color: #666;
}